body {
    background-color: black;
    display: flex;
}

#tes {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    letter-spacing: 2px;
    font-size: 70px;
    text-shadow: 5px 3px 25px lightgreen;
    padding: 5px;
    border: 2px seagreen;
    border-radius: 35px;
}

#ttt {
    color: seagreen;
    text-align: center;
    text-shadow: 10px 13px 30px greenyellow;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
}

#all {
    padding: 5px;
    border: 5px solid rgb(5, 92, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}